:root {
    font-family: Bubble One, serif;
    color: black;
    
}

.greetingContainer {
    margin-top: 50px;
    margin-left: 16px;
    margin-right: 203px; 
   & h1 {
    font-weight: 400;
   }
}