.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 187px);
    grid-column-gap: 8px; 
    grid-gap: 8px;
    grid-row-gap: 8px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .rectangle {
    display: flex;
    align-items: center;
    width: 187px;
    height: 52px;
    background-color: #c34040;
    margin-right: 8px; 
  }
  
  .cover-art {
    width: 52px;
    height: 52px;
    background-color: black;
    margin-right: 8px; 
  }
  
  .title {
    flex: 1; 
    text-align: left; 
  }
  
  
  @media (min-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(2, 187px);
      grid-gap: 8px; 
    }
  }